body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../img/background.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}